%h3{:align => "center"}
  1. General provisions
%p
1.1 The Rostov-on-Don CFPU VATSIM (hereinafter referred to as the Operator) places the observance of the rights and
freedoms of citizens as one of the most important conditions for the implementation of its activities.
%br
1.2 The Operator's policy regarding the processing of personal data (hereinafter referred to as the Policy) applies to
all information that the Operator can receive about website visitors urrv.me . Personal data is processed in accordance
with the Federal Law "On Personal Data" No. 152-FZ.
%p

%h3{:align => "center"}
  2. Basic concepts used in the Policy:
%p
2.1 Website – a set of graphic and informational materials, as well as computer programs and databases that ensure their
availability on the Internet at a network address urrv.me;
%br
2.2 User – any visitor to the website urrv.me;
%br
2.3 Personal data – any information related to the User of the Website urrv.me;
%br
2.4 Processing of personal data – any action with personal data performed using a computer, as well as without their use;
%br
2.5 Depersonalization of personal data – actions that result in the inability to determine the identity of personal data
to a specific User or person without the use of additional information;
%br
2.6 Dissemination of personal data – any actions that result in the disclosure of personal data to an indefinite circle
of persons;
%br
2.7 Provision of personal data – any actions that result in the disclosure of personal data to a certain circle of persons;
%br
2.8 Destruction of personal data – any actions that result in the irrevocable destruction of personal data on a computer
or any other media.
%p
%h3{:align => "center"}
  3. The Operator may process the following personal data of the User:
%p
3.1 List of personal data processed by the operator: Surname, first name, email address, city of residence, VATSIM ID.
%br
3.2. In addition, the site is the collection and processing of anonymous data about visitors (including cookies) using
Internet statistics (Yandex Metrika, Google Analytics and others).
%p
%h3{:align => "center"}
  4. Purpose of personal data processing
%p
4.1 The user's personal data - surname, first name, e-mail address, City of residence, VATSIM ID - are processed for
the following purpose: in order to provide information services of the Rostov-on-Don VATSIM Shopping Center, collection
and storage of statistics of students of the Rostov-on-Don dispatcher training department VATSIM, mailing of news of
Rostov-on-Don CFPU VATSIM. The Operator has the right to send notifications to the User about new products and services,
special offers and various events. The User can always refuse to receive informational messages by sending an email to
the Operator at support@urrv.me
%br
4.2 Depersonalized User data collected using Internet statistics services are used to collect information about User
actions on the site, improve the quality of the site and its content.
%p
%h3{:align => "center"}
  5. Legal grounds for processing personal data
%p
5.1 The Operator processes the User's personal data only if they are sent by the User through the forms located on the
website urrv.me . By sending their personal data to the Operator, the User agrees with this Policy.
%br
5.2 The Operator processes depersonalized data about the User if the User has allowed it in the browser settings (the
saving of cookies and the use of JavaScript technology is enabled).
%p
%h3{:align => "center"}
  6. The procedure for collecting, storing, transmitting and other types of personal data processing
%p
6.1 The Operator ensures the safety of personal data and takes all possible measures to exclude access to the personal
data of unauthorized persons.
%br
6.2 The User's personal data will never, under any circumstances, be transferred to third parties, except in cases
related to the implementation of current legislation.
%br
6.3. In case of inaccuracies in personal data, the User can update them by sending a notification to the Operator via
e-mail to the Operator's e-mail address support@urrv.me , marked "Updating of personal data".
%br
6.4 The period of processing of personal data is unlimited. The User can withdraw his consent to the processing of
personal data at any time by sending a notification to the Operator via e-mail to the Operator's e-mail address support@urrv.me,
marked "Withdrawal of consent to the processing of personal data".
%p
%h3{:align => "center"}
  7. Final provisions
%p
7.1. The User can receive any clarifications on issues of interest concerning the processing of his personal data by
contacting the Operator via e-mail support@urrv.me .
%br
7.2. This document will reflect any changes to the Operator's personal data processing policy. In case of significant
changes, the User may be sent information to the email address specified by him.
%p
%p