.card{:style => "opacity: 0.8;"}
  .card-body
    .text-center
      %p
      = image_tag 'logo.png', size: '300x300', alt: "logo"
      %p
      %h1 Сайт находится в стадии разработки.
      %p
      %p
      .fa.fa-tools.fa-5x
      %p
      %p
      %a.navbar-brand{:href => "https://discord.urrv.me"}
        %h2
          .fab.fa-discord
          Наш Discord
      %p
