.card{:style => "opacity: 0.8;"}
  .card-body
    .text-center
      %p
      %h1= t 'welcome'
      %br
      %br
      = image_tag 'ros_acc_114x.png', :style => "max-width: 50%; height: auto;", alt: "logo"
      %br
      %br
      %br
      %br
      %a.navbar-brand{:href => "https://discord.urrv.me", :target => "_blank"}
        %h2
          .fab.fa-discord
          = t 'discord'
      %p
