.card{:style => "opacity: 0.8;"}
  .card-body
    .text-center
      %p
      %p
      %h1 Сайт находится в разработке.
      %p
      %p
      %p
      %p
      %a.navbar-brand{:href => "https://discord.urrv.me"} Наш Discord
      %p
