.card{:style => "opacity: 0.8;"}
  .card-body
    .text-center
      %p
      %h1= t 'welcome'
      %p
      = image_tag 'logo.png', size: '300x300', alt: "logo"
      %p
      %p
      %a.navbar-brand{:href => "https://discord.urrv.me"}
        %h2
          .fab.fa-discord
          = t 'discord'
      %p
= cookie_law!
