.card.vh-auto.bg-image{:style => "background-image: url('https://urrv.me/images/16.jpg'); background-size: 100%; background-repeat: no-repeat;"}
  .card-body.text-dark.text-center
    %h1.card-title ERROR 404
    %p.card-text
      %h3
        = t('error_404')
    %a.btn.btn-outline-dark{:href => "#", :onclick => "javascript:history.back();return false;"}
      = t('back')

%br
%p
