%button.btn.btn-primary{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
  NOTAM
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-dialog-scrollable.modal-xl
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title NOTAM #{@airport.icao}
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        - @notam_arr.each do |el|
          .card
            .card-body
              = el
          %p
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
