%h1 Редактирование информации
.card
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @airport, class: 'btn btn-sm btn-warning'
    = link_to "#{t('back')}", airports_path, class: 'btn btn-sm btn-primary'
