@import "./actiontext.scss";

.locale {
 float: right;
 margin: -0.25em 0.1em;
}

//footer always on the bottom
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 200px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  overflow: visible;
}
