@import "font-awesome-sprockets";
@import "font-awesome";

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: #cef5f5; }

body {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%), asset-data-url('Platov_fon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.locale {
 float: right;
 margin: -0.25em 0.1em;
}